---
import TopLevel from '../layouts/TopLevel.astro';
---

<TopLevel>
	<h1 class="text-[72px]/[76px] text-red-500 text-center mt-2 hover:text-blue-500 active:text-green-500">Hello World</h1>
</TopLevel>
